<?xml version="1.0" encoding="utf-8"?>
<module name="EPiServer.Translate" clientResourceRelativePath="" tags="EPiServerModulePackage">
    <assemblies>
	    <!-- This adds the Alloy template assembly to the "default module" -->
        <add assembly="EPiServer.Translate" />
    </assemblies>
    <clientResources>
    </clientResources>
    <dojo>
        <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
        <paths>
            <add name="epi-translate" path="ClientResources" />
        </paths>
    </dojo>
    <clientModule initializer="epi-translate/Initializer">
      <moduleDependencies>
        <add dependency="CMS" type="RunAfter" />
      </moduleDependencies>
    </clientModule>
</module>
